html {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
}
html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #ededed;
  color: #666666;
  line-height: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
body.white {
  background: #ffffff;
}
html.hairlines div,
html.hairlines li,
html.hairlines a,
html.hairlines i,
html.hairlines header {
  border-width: 0.5px !important;
}
html .g-image-upload-box .upload-btn {
  border: 1px dashed #e3e3e3 !important;
}
a {
  color: #3278ee;
  text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  border: none;
  font-size: 1.4rem;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  color: #333333;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
  outline: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
textarea {
  outline: none;
  border: none;
  resize: none;
  height: 90px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
input[type=text]:active,
input[type=password]:active,
textarea:active,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border: none;
  background: #ffffff;
  outline: none;
}
::-webkit-input-placeholder {
  -webkit-text-fill-color: #bdbdbd;
}
::-moz-placeholder {
  color: #dddddd;
}
input:-ms-input-placeholder {
  color: #dddddd;
}
textarea:-ms-input-placeholder {
  color: #dddddd;
}

.publish-article-title {
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.title-tips {
  font-weight: bold;
  margin-bottom: 3px;
}
.publish-article-content {
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;
}
.publish-article-content .article-content {
  height: 200px;
  border-bottom: 1px solid #ccc;
}
.publish-article-content .footer-btn {
  text-align: center;
  padding-top: 10px;
}
.publish-article-content .footer-btn .upload-img {
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/img.png) 0 no-repeat;
  background-size: 100%;
}
